<div class="container">
     </br>
    <center> <strong>formulario registro de productos</strong> </center>
     </br>
    </br>
    <form action="/producto/create" method="POST" accept-charset="utf-8" class="form-singin">
       
        <label>nombre</label>
        <input type="text" name="nombre" class="form-control" required>
        </br> 
        </br> 
        <label>marca</label>
        <input type="text" name="marca" class="form-control" required>
        </br>
        </br>
        <label>descripcion</label>
        </br>
        </br>
        <input type="text" name="descripcion" class="form-control" required>
        </br>
        </br>  
        <label>cantidad</label>      
        <input type="text" name="cantidad" class="form-control" required>
        </br>
        <input type="submit" class="btn btn-default"/>
        
    </form>
</div>

